body {
	padding-top: 56px;
}

#nav {
	background-color: cornflowerblue !important;
}

#loginButton {
	margin-left: 10px;
}

#search-bar {
	margin: 10px !important;
	width: 75%;
}

#addSuperMarket {
	margin: 10px !important;
}

#addProduct {
	margin: 10px !important;
}

#add-supermarket-form {
	margin: 10px !important;
}

#add-product-form {
	margin: 10px !important;
}

#supermarket-affiliate {
	color: green;
}

#supermarket-not-affiliate {
	color: red;
}

#product-not-offbrand {
	color: green;
}

#product-offbrand {
	color: red;
}