/* Parte index */
body {
	padding-top: 56px;
}

.color-scheme {
	color: white !important;
	background-color: cornflowerblue !important;
}

.error-color-scheme {
	color: white !important;
	background-color: #cc0000 !important;
}

.success-color-scheme {
	color: white !important;
	background-color: green !important;
}


.login-button {
	background-color: cornflowerblue !important;
	border: none;
	margin-top: 2px;
}

.login-dependent {
	display: none;
}

.login-dropdown {
	margin-top: 12px;
	width: 250px !important;
}

.notification-toast {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 300px !important;
}

#nav {
	background-color: cornflowerblue !important;
}

#navCategories {
	margin-top: 3px;
}

#search-bar {
	margin: 10px !important;
	width: 75%;
}

div.scrollmenu {
  overflow: hidden;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: white;
}

/* Parte amministrazione */
#addSuperMarket {
	margin: 10px !important;
}

#addProduct {
	margin: 10px !important;
}

#add-supermarket-form {
	margin: 10px !important;
}

#add-product-form {
	margin: 10px !important;
}

#supermarket-affiliate {
	color: green;
}

#supermarket-not-affiliate {
	color: red;
}

#product-not-offbrand {
	color: green;
}

#product-offbrand {
	color: red;
}

.error-message {
	background-color: rgba(255, 0, 0, 0.40);
	margin: 10px !important;
}

.success-message {
	background-color: rgba(0, 255, 0, 0.40);
	margin: 10px !important;
}

#main-box {
	width: 100%;
	height: 500px;
	margin: 20px;
}

#mapid {
	height: 100%;
	width: 100%;
}

#map {
	width: 60%;
	height: 100%;
	float: left;
}

#query-box {
	width: 40%;
	height: 100%;
	float: left;
}

#query-result {
	width: 100%;
	height: 92.3%;
}

#query-result-element {
	cursor: pointer;
}

.bd-highlight {
	background-color: rgba(195, 228, 253, 0.15);
	border: 1px solid rgba(136, 201, 251, 0.562);
}

#colonna {
	margin: 20px !important;
}