body {
	padding-top: 56px;
}

#nav {
	background-color: cornflowerblue !important;
}

#loginButton {
	margin-left: 10px;
}

#search-bar {
	margin: 10px !important;
	width: 75%;
}

#addSuperMarket {
	margin: 10px !important;
}

#addProduct {
	margin: 10px !important;
}

#add-supermarket-form {
	margin: 10px !important;
}

#add-product-form {
	margin: 10px !important;
}

#supermarket-affiliate {
	color: green;
}

#supermarket-not-affiliate {
	color: red;
}

#product-not-offbrand {
	color: green;
}

#product-offbrand {
	color: red;
}

#error-message {
	background-color: rgba(255, 0, 0, 0.40);
	margin: 10px !important;
}

#success-message {
	background-color: rgba(0, 255, 0, 0.40);
	margin: 10px !important;
}

#main-box {
	width: 100%;
	height: 500px;
	margin-top: 20px;
}

#mapid {
	height: 100%;
	width: 100%;
}

#map {
	width: 60%;
	height: 100%;
	float: left;
}

#query-box {
	width: 40%;
	height: 100%;
	float: left;
}

#query-result {
	width: 100%;
	height: 92.3%;
}

#query-result-element {
	cursor: pointer;
}

.bd-highlight {
	background-color: rgba(195, 228, 253, 0.15);
	border: 1px solid rgba(136, 201, 251, 0.562);
}