/* Parte index */
body {
	padding-top: 56px;
}

.color-scheme {
	color: white !important;
	background-color: #0f6c17 !important;
}

.error-color-scheme {
	color: white !important;
	background-color: #cc0000 !important;
}

.span-title {
	color: #e9b96e;
}

.success-color-scheme {
	color: green !important;
	background-color: green !important;
}

.login-button {
	color: white;
	background-color: #0f6c17 !important;
	border-width: 2px;
	border-style: solid;
	border-color: #e9b96e;
	margin-top: 6px;
	margin-left: 5px;
}

.cart-button {
	background-color: white !important;
	color: black;
	border: none;
	margin-top: 0px;
	margin-right: 5px;
}

.order-button {
	color: white;
	background-color: #0f6c17 !important;
	border-width: 2px;
	border-style: solid;
	border-color: #e9b96e;
}

.profile-button {
	color: white;
	background-color: #0f6c17 !important;
	border-width: 2px;
	border-style: solid;
	border-color: #e9b96e;
	margin-right: 2px;
}

.diet-button {
	color: white;
	background-color: #0f6c17 !important;
	border-width: 2px;
	border-style: solid;
	border-color: #e9b96e;
	margin-right: 10px;
}

.logout-button {
	color: white;
	border-width: 2px;
	border-style: solid;
	border-color: #6d1010;
	margin-top: 7px;
	margin-right: 5px;
}

.title-trispesa {
	position: absolute;
	left: 100px;
	top: -18px;
}

.login-dependent {
	display: none;
}

.login-dropdown {
	margin-top: 12px;
	width: 250px !important;
}

.notification-toast {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 300px !important;
	z-index: 1;
}

.title-secondary {
	color: #0f6c17;
	margin-bottom: 22px;
}

h2 {
	line-height: 1.3;
	margin: 0 0 15px;
	font-weight: 700;
	display: block;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

.cart-icon {
	font-size: 36px;
	color: #e9b96e;
}

.item-icon-cart {
	margin-top: 8px;
	margin-right: 10px;
}

#nav {
	background-color: #0f6c17 !important;
	/* 	width: 100%; */
	/* 	height: 65px; */
	/* 	margin: 0px auto; */
}

#navCategories {
	margin-top: 10px;
	margin-left: 80px;
	background-color: #eeeeec !important;
	/* 	transition: width 0.8s ease-out; */
}

test {
	margin-top: 20px;
}

#addToCartProductDiscounted {
	background-color: #0f6c17 !important;
}

div.scrollmenu {
	overflow: hidden;
	white-space: nowrap;
}

div.scrollmenu a {
	display: inline-block;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

div.scrollmenu a:hover {
	background-color: white;
}
/* search bar */
.searchbar {
	margin-bottom: auto;
	margin-top: auto;
	height: 60px;
	background-color: #0f6c17;
	border-radius: 30px;
	padding: 10px;
}

#categoryCarousel>.owl-stage-outer {
	border-width: 5px;
	border-color: green;
	border-style: solid;
	border-radius: 25px;
}

.search_input {
	color: #ffffff;
	border: 0;
	outline: 0;
	background: none;
	width: 0;
	caret-color: transparent;
	line-height: 40px;
	transition: width 0.8s ease-out;
}

.searchbar:hover>.search_input {
	padding: 0 10px;
	width: 350px;
	caret-color: red;
	transition: width 0.8s ease-out;
}

.searchbar:hover>.search_icon {
	background: white;
	color: #e9b96e;
}

#productCarousel {
	z-index: 0;
}

.search_icon {
	height: 40px;
	width: 40px;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color: #6495ed;
	text-decoration: none;
}
/* Parte amministrazione */
#search-bar {
	margin: 10px !important;
	width: 75%;
}

#addSuperMarket {
	margin: 10px !important;
}

#addProduct {
	margin: 10px !important;
}

#add-supermarket-form {
	margin: 10px !important;
}

#add-product-form {
	margin: 10px !important;
}

#supermarket-affiliate {
	color: #008000;
}

#supermarket-not-affiliate {
	color: #bf0000;
}

#product-not-offbrand {
	color: #008000;
}

#product-offbrand {
	color: #bf0000;
}

.error-message {
	background-color: rgba(255, 0, 0, 0.40);
	margin: 10px !important;
}

.success-message {
	background-color: rgba(0, 255, 0, 0.40);
	margin: 10px !important;
}

#main-box {
	width: 100%;
	height: 500px;
	margin: 20px;
}

#mapid {
	height: 100%;
	width: 100%;
}

#map {
	width: 60%;
	height: 100%;
	float: left;
}

#query-box {
	width: 40%;
	height: 100%;
	float: left;
}

#query-result {
	width: 100%;
	height: 92.3%;
}

#query-result-element {
	cursor: pointer;
}

.bd-highlight {
	background-color: rgba(195, 228, 253, 0.15);
	border: 1px solid rgba(136, 201, 251, 0.562);
}

#colonna {
	margin: 20px !important;
}

.ui-autocomplete-loading {
	background: white url("../images/spinner.gif") no-repeat;
	background-size: 30px 30px;
	background-position: 95%;
}

/* un po' di stile */
#home-button {
	color: white;
	background-color: #0f6c17 !important;
	border-width: 2px;
	border-style: solid;
	border-color: #e9b96e;
	margin: 2px;
}

#supermarket-button {
	color: white;
	background-color: #0f6c17 !important;
	border-width: 2px;
	border-style: solid;
	border-color: #e9b96e;
	margin: 2px;
}

#product-button {
	color: white;
	background-color: #0f6c17 !important;
	border-width: 2px;
	border-style: solid;
	border-color: #e9b96e;
	margin: 2px;
}

#stats-button {
	color: white;
	background-color: #0f6c17 !important;
	border-width: 2px;
	border-style: solid;
	border-color: #e9b96e;
	margin: 2px;
}

#maps-button {
	color: white;
	background-color: #0f6c17 !important;
	border-width: 2px;
	border-style: solid;
	border-color: #e9b96e;
	margin: 2px;
}

#logout-button {
	color: white;
	border-width: 2px;
	border-style: solid;
	border-color: #6d1010;
	margin: 2px;
}

.add-item {
	font-weight: bold;
	color: black;
	border-width: 2px;
	border-style: solid;
	border-color: #008000;
	margin: 2px;
	color: black;
}

.mod-item {
	font-weight: bold;
	color: black;
	border-width: 2px;
	border-style: solid;
	border-color: #0080ff;
	margin: 2px;
}

.del-item {
	font-weight: bold;
	color: black;
	border-width: 2px;
	border-style: solid;
	border-color: #bf0000;
	margin: 2px;
}

.back-item {
	font-weight: bold;
	color: black;
	border-width: 2px;
	border-style: solid;
	border-color: #808080;
	margin: 2px;
}