body {
	padding-top: 56px;
}

#nav {
	background-color: cornflowerblue !important;
}

#loginButton {
	margin-left: 10px;
}

#search-bar {
	margin: 10px !important;
}

#addSuperMarket {
	margin: 10px !important;
}

#addProduct {
	margin: 10px !important;
}